.chat-container {
  background-color: black;
  position: relative;
  overflow-y: auto;
}
input{
  outline: none;
  color: white;
}
.text-chat{
  min-width: 50vw;
}
.time{
  font-size: 0.6rem;
}
.chats{
  height: 90%;
}
form{
  background-color: black;
  height: 10%;
}
