<ion-header>
  <ion-toolbar [color]="'dark'">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <div clka>
      <ul>
        <li class="text-[1rem]" >{{ titleChat }}</li>
        <li class="text-[0.6rem]" >{{ status }}</li>
      </ul>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="h-full">
    <ul id="chat" class="chat-container px-3 py-3 flex flex-col gap-5 chats">
      <li *ngFor="let message of messages">
        <div class="flex" [ngClass]="{'justify-end': isMyMessage(message)}">
          <div class="px-2 pt-2 rounded-md {{ngClassByMessage(message)}}">
            <ul class="text-sm text-chat">
              <li>{{message.message}}</li>
              <div class="flex justify-end">
                <li class="time text-gray-400">
                  {{getTime(message.createdAt)}}
                </li>
              </div>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <form
      class="fixed bottom-0 w-full px-3 flex items-end pb-5 gap-1 z-10"
      [formGroup]="sendMessageForm"
      (submit)="sendMessage()"
    >
      <div class="flex items-center w-full gap-1">
        <input
          type="text"
          placeholder="Mensaje"
          class="bg-gray-300 bg-opacity-30 rounded-md px-2 py-3 w-full"
          formControlName="message"
        />
        <button class="" type="submit" class="flex items-center">
          <ion-icon name="send" class="text-xl" color="success"></ion-icon>
        </button>
      </div>
    </form>
  </div>
</ion-content>
