<ion-header>
  <ion-toolbar [color]="'dark'">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-text>{{titleChat}}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-container h-full">
    <ul class="px-3 py-3 flex flex-col gap-5">
      <li *ngFor="let message of messages">
        <div class="flex" [ngClass]="{'justify-end': isMyMessage(message)}">
          <div class="px-2 pt-2 rounded-md {{ngClassByMessage(message)}}">
            <ul class="text-sm text-chat">
              <li>{{message.message}}</li>
              <div class="flex justify-end">
                <li class="time text-gray-400">
                  {{getTime(message.createdAt)}}
                </li>
              </div>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <form
      [formGroup]="sendMessageForm"
      class="absolute bottom-5 w-full px-3 flex items-center gap-1 z-10 mt-5"
      (submit)="sendMessage()"
    >
      <input
        type="text"
        placeholder="Mensaje"
        class="bg-gray-300 bg-opacity-30 rounded-md px-2 py-3 w-full"
        formControlName="message"
      />
      <button class="" type="submit" class="flex items-center">
        <ion-icon name="send" class="text-xl" color="success"></ion-icon>
      </button>
    </form>
  </div>
</ion-content>
