<ion-header>
  <ion-toolbar [color]="'dark'">
    <ion-title>Lista de contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="list-container h-full flex flex-col gap-1 pt-3">
    <ion-item *ngFor="let contact of users">
      <ion-label>{{ contact.username | titlecase }}</ion-label>
      <ion-button color="success" [size]="'medium'" routerLink="/chat/new">
        <ion-icon class="text-white" name="paper-plane-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
</ion-content>
