<ion-header>
  <ion-toolbar>
    <ion-title>{{titleUser}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="relative h-full">
    <button
      class="bg-green-600 text-2xl text-white font-bold rounded-full px-5 py-3 absolute bottom-5 right-5 shadow-xl"
      routerLink="/list-users"
    >
      +
    </button>
    <ion-list>
      <ion-item *ngFor="let chat of chats">
        <ion-label>{{chat.id}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
