<ion-header>
  <ion-toolbar [color]="'dark'">
    <ion-title>{{titleUser | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [color]="'medium'">
  <div class="relative h-full chats">
    <button
      class="bg-green-600 text-2xl text-white font-bold rounded-full px-5 py-3 absolute bottom-5 right-5 shadow-xl"
      routerLink="/list-users"
    >
      +
    </button>
    <ion-list class="chats">
      <ion-searchbar [placeholder]="'Buscar contacto'"></ion-searchbar>
      <ion-item
        *ngFor="let chat of chats"
        color="'medium'"
        class="mt-3"
        [routerLink]="'/chat/'+chat.chat.id"
      >
        <ul>
          <li class="font-bold">{{chat.title | titlecase}}</li>
          <li class="text-sm text-green-300">
            {{chat.chat.messages[chat.chat.messages.length - 1].message}}
          </li>
        </ul>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
