<ion-header>
  <ion-toolbar [color]="'dark'">
    <ion-buttons slot="start" class="p-0 m-0">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="p-0 m-0">Lista de contactos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="bg-black h-full">
    <div
      class="text-white py-3 px-3"
      *ngFor="let contact of users"
      routerLink="/chat/{{contact.id}}"
    >
      <div class="flex items-center gap-2">
        <img
          src="../../../assets/icon/user-icon.png"
          alt="user"
          class="w-[3rem]"
        />
        <span>{{ contact.username | titlecase }}</span>
      </div>
    </div>
  </div>
</ion-content>
